<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  
    <configSections>

      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Labyrint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Labyrint.My.MySettings>
            <setting name="LabyrintKleur" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Scores" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>1</string>
                        <string>5</string>
                        <string>3</string>
                        <string>1</string>
                        <string>2</string>
                        <string>2</string>
                        <string>5</string>
                        <string>4</string>
                        <string>3</string>
                        <string>2</string>
                        <string>3</string>
                        <string>20</string>
                        <string>14</string>
                        <string>15</string>
                        <string>16</string>
                        <string>17</string>
                        <string>55</string>
                        <string>19</string>
                        <string>20</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Namen" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a1</string>
                        <string>a2</string>
                        <string>a3</string>
                        <string>a4</string>
                        <string>a5</string>
                        <string>a6</string>
                        <string>a7</string>
                        <string>a8</string>
                        <string>a9</string>
                        <string>a10</string>
                        <string>a11</string>
                        <string>a12</string>
                        <string>a13</string>
                        <string>a14</string>
                        <string>a15</string>
                        <string>a16</string>
                        <string>a17</string>
                        <string>a18</string>
                        <string>a19</string>
                        <string>a20</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BolSFX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Manneke" serializeAs="String">
                <value />
            </setting>
            <setting name="High" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </Labyrint.My.MySettings>
    </userSettings>
</configuration>
